@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:#baccde">
    <h1 style="color: #314d68;">Local Destination</h1>
    <p class="lead">A place for savy travelers to share their unforgetable discoveries.</p>
    <p><a href="https://localhost:44322/Destination" class="btn btn-primary btn-lg" style="background-color:#314d68">See the Destinations &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4"  style="background-color:#dce6ef">
        <h2>Destinations</h2>
        <p>
            Explorer Destinations others have created or add a new one.  Tell others about all the places you've traveled.' 
        </p>
        <p><a class="btn btn-default" style="background-color:#baccde" href="https://localhost:44322/Hotel">Get to Sharing &raquo;</a></p>
    </div>
    <div class="col-md-4" style="background-color: #eef2f7">
        <h2>Share a Hotel</h2>
        <p>Found your Destination or created one?  Now your ready to tell us all about your Hotel stay!</p>
        <p><a class="btn btn-default" style="background-color: #baccde" href="https://go.microsoft.com/fwlink/?LinkId=301866">Share Hotel &raquo;</a></p>
    </div>
    <div class="col-md-4" style="background-color:#ffffff">
        <h2>Share a Bar</h2>
        <p>Destination found or create, check!  Now lets hear all about the must visit Bars during your stay!</p>
        <p><a class="btn btn-default" style="background-color:#baccde" href="https://go.microsoft.com/fwlink/?LinkId=301867">Share Bar &raquo;</a></p>
    </div>
</div>