@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url('/Content/Images/pngtree-modern-city-skyline-png-image_1616014.jpg')">
    <h1 style="color: white; font-weight: bold; text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;">Local Destination</h1>
    <p class="lead" style="color: white;
        text-shadow: -1px 1px 1px #000, 1px 1px 1px #000, 1px -1px 0 #000, -1px -1px 0 #000;">A place for savy travelers to share their unforgetable discoveries.</p>
    <p><a href="https://localdestination.azurewebsites.net/Destination" class="btn btn-primary btn-lg" style="background-color:#314d68">See the Destinations &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4" style="background-color:#dce6ef">
        <h2 style="color: white; text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000">Start Here</h2>
        <p>
            Register or Log in to start sharing your travel experiences.  Tell others about all the places you've traveled.
        </p>
        <p><a class="btn btn-default" style="background-color:#baccde" href="https://localdestination.azurewebsites.net/Account/Register">Register Now &raquo;</a></p>
    </div>
    <div class="col-md-4" style="background-color: #eef2f7">
        <h2 style="color: white; text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000">Share a Hotel</h2>
        <p>Found your Destination or created one?  Now your ready to tell us all about your Hotel stay!</p>
        <p><a class="btn btn-default" style="background-color: #baccde" href="https://localdestination.azurewebsites.net/Hotel">Share Hotel &raquo;</a></p>
    </div>
    <div class="col-md-4" style="background-color:#ffffff">
        <h2 style="color: white; text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000">Share a Bar</h2>
        <p>Destination found or create, check!  Now lets hear all about the must visit Bars during your stay!</p>
        <p><a class="btn btn-default" style="background-color:#baccde" href="https://localdestination.azurewebsites.net/Bar">Share Bar &raquo;</a></p>
    </div>
</div>